{% extends 'industrial_attachment/base.html' %}


{% block title %} registration page{% endblock title %}


{% block body %}
<main class="supervisor-registration">


    <div class="super-registration-label">
        <h2>Supervisor Registration Page</h2>
    </div>
    <div class="supervisor-registration-form">
        <form action="{% url 'attachment:super-registration' %}" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <th>
                        {{super_form.full_name.label}} 
                    </th>
                    <td>
                        {{super_form.full_name}}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{super_form.active_email.label}} 
                    </th>
                    <td>
                        {{super_form.active_email}}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{super_form.phone.label}}
                    </th>
                    <td>
                        {{super_form.phone}}
                    </td>
                </tr>
            </table>
            <hr>
            <table>
                <tr>
                    <th>
                        {{super_form.username.label}}
                    </th>
                    <td>
                        {{super_form.username}}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{super_form.password1.label}}
                    </th>
                    <td>
                        {{super_form.password1}}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{super_form.password2.label}} 
                    </th>
                    <td>
                        {{super_form.password2}}
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        <input class="btn btn-primary md col-12 mb-3" type="submit" value="Register"/>
                    </th>    
                </tr>
            </table>
        </form>
        <div class="sign-in">
            <p>Have Account Already? <span>
                <a href="{% url 'attachment:super-login' %}">Sign In</a>
            </span></p>
        </div>
    </div>

</main>

{% endblock body %}