<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>members only</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body style="background-color:#000a33">
    <div class="container mb-5" style="height:50px;">
    </div>
    <div class="container">
        <div class="card text-center mb-5">
            <div class="card-header bg-danger text-white">
                <h4>404 Error</h4>
            </div>
            <div class="card-body">
                <p>Your are not a registered member </p>
                <p>Go to the application home page for proper registration</p>
            </div>
            <div class="card-footer">
                <p>Registration require</p>
            </div>
        </div>
    </div>
</body>
</html>